<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="MyContext" connectionString="data source=.\SQLEXPRESS;Integrated Security=true;AttachDBFilename=|DataDirectory|MushroomStoreDB.mdf;User Instance=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
<!--<?xml version="1.0" encoding="utf-8" ?>-->
<!--<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyContext" connectionString="Data Source=.;Initial Catalog=MushroomStoreDB;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>-->